.featuredGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.featureImage {
  border-radius: 10px;
}

.gitBox {
  font-size: 1.25rem;
  display: flex;
  height: 100px;
  margin-left: 15px;
  border-left: 1px solid #add8e6;
  padding-left: 20px;
  align-items: center;
}

.gitBoxRight {
  font-size: 1.25rem;
  display: flex;
  height: 100px;
  margin-right: 15px;
  border-right: 1px solid #add8e6;
  padding-right: 20px;
  align-items: center;
  flex-direction: row-reverse;
  width: 220px;
}

.cardLink {
  color: #acacac;
  text-decoration: none;
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeInFromRightAnimation {
  animation: 1.5s fadeInFromRight;
  border-radius: 6px;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-180px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInFromLeftAnimation {
  animation: 1.5s fadeInFromLeft;
  border-radius: 6px;
}

@media only screen and (max-width: 430px) {
  .cardImageRight {
    width: 300px;
  }
}
