.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

.login-header-text {
  letter-spacing: -0.6px;
  font-weight: 400;
}

.login-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 600px;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--background-blue);
  border: 1px solid #e9e9e9;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  letter-spacing: -0.1px;
}

.password-input-container {
  margin-top: 6px;
}

.recover-link {
  font-size: 1rem;
  margin: 4px 0px 0px 3px;
  padding-left: 2px;
  background-color: transparent;
  color: #0d6efd;
  border: none;
  cursor: pointer;
}

.recover-link:hover {
  text-decoration: underline;
}

.register-box {
  margin-top: 8px;
}

.login-alert {
  color: red;
}

.create-link {
  color: #0d6efd;
}

@media only screen and (max-width: 430px) {
  .main-container {
    margin-top: 0px;
  }

  .login-container {
    margin-top: 0px;
  }
  .login-form-wrapper {
    width: 400px;
  }
  .login-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
