.container {
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.05rem;
  color: #acacac;
  background-color: #fff;
}

.innerContainer {
  margin-top: 15px;
  background-color: #fff;
  width: 95%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #0070f3;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 1rem;
}

.imgBox {
  width: 680px;
  margin-top: 3px;
}

.homeImg {
  width: 100%;
  object-fit: contain;
}

.gridColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  max-width: 800px;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

/****    Home    ****/

.homeContainer {
  width: 100%;
  height: 600px;
}

.homeImgBox {
  width: 1100px;
}

.homeImg {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

/****    About    ****/

.cardTextLeft {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cardTextRight {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: right;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cardImageEXF {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: right;
  color: inherit;
  text-decoration: none;
  background-color: #e6f2ff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  align-items: center;
}

.cardImageRight {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: right;
  color: inherit;
  text-decoration: none;
  background-color: #e6f2ff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  align-items: center;
  justify-content: right;
}

.cardImageLeft {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: #e6f2ff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  align-items: center;
}

.cardTextLeft:hover,
.cardTextLeft:focus,
.cardTextLeft:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cardTextLeft h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.cardTextLeft p {
  font-family: var(--font-roboto);
  margin: 0;
  font-size: 1.15rem;
  line-height: 1.5;
}

.cardTextRight:hover,
.cardTextRight:focus,
.cardTextRight:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cardTextRight h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.cardTextRight p {
  font-family: var(--font-roboto);
  margin: 0;
  font-size: 1.15rem;
  line-height: 1.5;
}

/****    Media Queries    ****/

@media only screen and (min-width: 1100px) {
  .imgBox {
    width: 940px;
    margin-top: 25px;
  }

  .footerContainer {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    height: 980px;
  }
  .homeContainer {
    height: 100%;
  }
  .homeImgBox {
    height: 600px;
  }
  .imgBox {
    margin-top: 20px;
    width: 350px;
  }
  .cardImageRight {
    width: 350px;
  }
  .cardTextLeft {
    flex-basis: 100%;
  }
  .cardTextRight {
    flex-basis: 100%;
  }
  .footerContainer {
    display: none;
  }
  .contactDetailThree {
    display: unset;
    flex-direction: unset;
    width: 70%;
  }
}
