/****  Footer ****/
.footerContainer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: auto;
  margin-top: 25px;
}

.footerInnerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerLink {
  padding-left: 5px;
  text-decoration: none;
  color: #0070f3;
}

.nextLogoBox {
  margin-bottom: -4px;
  margin-left: 30px;
}

.nextLogoBox {
  margin-bottom: -4px;
  margin-left: 30px;
}
/****  End Footer ****/

/****    Header    ****/

.headerContainer {
  margin-top: 1px 8px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  font-size: 1.3rem;
}

.headerBox {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0px 12px;
}

.headerBoxLeft {
  margin-top: 6px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

.headerLoginBox {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 0.95rem;
  height: 45px;
  min-width: 200px;
  color: #acacac;
  padding-right: 15px;
  margin-bottom: 5px;
}

.headerLoginTextBox {
  margin-top: 8px;
  color: #acacac;
  min-width: 100px;
}

.headerHead {
  height: 50px;
  margin-top: 30px;
  color: #2196f3;
  letter-spacing: 0.18rem;
  font-family: var(--font-roboto);
  font-size: 32px;
  font-weight: 400;
}

.headerText {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1.25rem;
  color: #acacac;
  margin-bottom: 4px;
  letter-spacing: -0.01rem;
  padding-right: 15px;
}

.headerLoginText {
  margin-right: 6px;
}

.headerLoginText:hover {
  cursor: pointer;
  text-decoration: none;
  color: #0070f3;
  margin-right: 1px;
}

.linksRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 500px;
  align-items: flex-end;
  margin-left: 10px;
  margin-bottom: 14px;
}

.colorText {
  font-weight: 400;
  letter-spacing: 0.24rem;
  color: blue;
}

.nextLink {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  color: #acacac;
  letter-spacing: 0.07rem;
}

.nextLink:hover {
  cursor: pointer;
  text-decoration: none;
  color: #0070f3;
}

.nextLink > a {
  font-family: var(--roboto);
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.04rem;
}

/* BUTTONS */

.primaryButton {
  font-family: var(--font-roboto);
  font-size: 1.06rem;
  height: 45px;
  min-width: 200px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 12px;
  &:hover {
    border: 1px solid #f27300;
  }
}

@media only screen and (min-width: 430px) {
  .burgerBox {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
  }

  .burgerButton {
    background-color: #fff;
    border: none;
    padding: none;
    width: 75px;
    color: #2196f3;
    padding-left: 2rem;
    padding-right: 0rem;
  }

  .burgerBox > button {
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .menuOpen {
    font-size: 46px;
  }
  .burgerBox {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: baseline;
  }
  .headerBoxLeft {
    display: none;
  }

  .linksRow {
    display: none;
  }

  .ksMenuLines {
    width: 60px;
    margin-right: 1px;
    cursor: pointer;
  }

  .ksMenuLine {
    background-color: #acacac;
    width: 100%;
    height: 6px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
}
