.mobileMainHeadingHide {
  position: fixed;
  top: 25px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  height: 430px;
  z-index: 999;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  visibility: hidden;
  border-radius: 30px 60px;
  border: 1px solid red;
}

.mobileMainHeadingShow {
  position: fixed;
  top: 55px;
  left: 50px;
  background-color: #fff;
  width: 90%;
  height: 430px;
  z-index: 999;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  visibility: visible;
  border-radius: 0px 100px;
  border: 1px solid red;
}

.mobileHeadingWrapperHide {
  position: fixed;
  top: 55px;
  right: 0px;
  background-color: var(--dark-violet);
  width: 0px;
  height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  z-index: 999;
  border-radius: 30px;
}

.mobileHeadingWrapperShow {
  position: fixed;
  top: 55px;
  right: 0px;
  background-color: var(--dark-violet);
  width: 336px;
  height: 425px;
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  z-index: 999;
  border-radius: 30px;
}

.mobileHeadingWrap {
  position: relative;
  margin: 0px 10px;
  margin-top: 7px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.mobileHeadingClose {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.mobileHeadingCloseInner {
  background-color: aqua;
  width: 120px;
  padding-left: 8px;
  margin-top: 10px;
  color: #fff;
}

.mobileHeadingLinkWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 280px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px 10px;
}

.mobileInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.mobileLower {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.mobileHeadingBox {
  background-color: #fff;
  border: none;
  font-size: 42px;
  height: 50px;
  width: 50px;
}

.mobileBorderDiv {
  text-align: center;
  border-bottom: 1px solid var(--grayish-violet);
  width: 280px;
}

.mobileHeadingClose {
  cursor: pointer;
}

.mobileHeadingClose {
  color: #888888;
  font-weight: bold;
  font-size: 3em;
}

.ks-mobile_heading_submenu_links {
  width: 100%;
}
