.inputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
  align-items: center;
  margin: auto;
  background-color: #fff;
  border-radius: 0px 0px 35px 0px;
  border: 1px solid #add8e6;
}

.textinput-error-box {
  margin: 0px 2px 0px 5px;
  font-size: 0.85rem;
  color: #4e4747;
}

.select-option:hover {
  background-color: white;
}

.skinny-input {
  width: 140px;
}

.skinny-column {
  width: 140px !important;
}

.formBox {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.input {
  background-color: aqua;
}
