.foundContainer {
  width: 100%;
  height: 100%;
}

.foundContainer::after {
  content: "";
  background: url("https://res.cloudinary.com/dd8ewixm7/image/upload/v1740719427/tranhum_lfzgnw.png");
  opacity: 0.12;
  top: -1300;
  left: -500;
  bottom: 0;
  right: 500;
  position: absolute;
  z-index: -1;
}

.foundSubContainer {
  margin-top: 12px;
}
