.foundContainer {
  width: 100%;
  height: 100%;
}

.foundContainer::after {
  content: "";
  background: url("https://res.cloudinary.com/dd8ewixm7/image/upload/v1740719427/tranhum_lfzgnw.png");
  opacity: .36;
  top: -190px;
  left: -450px;
  bottom: 10px;
  right: 0px;
  position: absolute;
  z-index: -1;
}

.foundSubContainer {
  margin-top: 12px;
}
